<!DOCTYPE html>
<html>
<body>
Please Note:
Activities can differ each day. Every day is slightly different to the day before,  depending on the needs of the elephants.

Visiting ELeFriends101 is only possible as part of the Day program. It is strictly NOT possible to visit and wander around on your own for safety reasons.
<br /><br />
What to bring:
Please remember to bring sunscreen, a hat,  your camera, mosquito repellent and  a change of  clothes (you will get dirty/wet).  Please bring yellow bananas,Jaggery and Groundnut balls you will  make new friends !<br /><br />
<form action="action_page.php">
  First name:<br>
  <input type="text" name="firstname" >
  <br>
  Last name:<br>
  <input type="text" name="lastname" >
  <br>
  Email:<br>
  <input type="email" name="email" >
  <br>
  Mobile:<br>
  <input type="tel" name="phone" >
  <br>
  Country:<br>
  <input type="text" name="country" >
  <br>
  Adults(Age 15 and above)
 <select>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
Children(Age 8 and 15)
 <select>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select><br>
Program<br>
 <select>
 	<option value="">---</option>
  <option value="Day with the Jumbos">Day with the Jumbos</option>
  <option value="Half Day with the Jumbos">Half Day with the Jumbos</option>
 
</select><br />
Date<br />
<input type="date" >
  <br><br>
  <input class="button2 color2" type="submit" value="Send">
</form>

***Payment will take place when you arrive at ELEFRIENDS101

</body>
</html>