<body class="contact">
<!-- content -->
    <article id="content">
      <div class="wrapper">
        <div class="box1">
          <div class="line1 wrapper">
            <section class="col1">
              <h2><strong>O</strong>ur<span>Address</span></h2>
              <strong class="address"> Country:<br>
              City:<br>
              Zip Code:<br>
              Telephone:<br>
              Fax:<br>
              E-Mail: </strong> India<br>
              Chennai<br>
              600 041<br>
              +91-44-24492242<br>
              +91-94440-52242<br>
              <a href="#">treefoundation2002@gmail.com</a> </section>
            <section class="col2 pad_left2">
              <h2 class="color2"><strong>M</strong>iscellaneous<span>info</span></h2>
              <p class="pad_bot1"> <h2> Office Address:</h2><br />
Kalakruti Studio<br />
2nd floor, <br />
No 7, Kalakruti Avenue<br />
Opp. PRARTHANA (Drive-in Theatre)<br />
Injambakkam,<br />
Chennai –600 041


<br /><br />
               </section>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="pad_left2 relative">
          <h4 class="color3"><span>Contact</span>Form</h4>
           <form id="ContactForm" action="#">
            <div>
              <div class="wrapper"><span>Your Name:</span>
                <input type="text" class="input">
              </div>
              <div class="wrapper"><span>Your E-mail:</span>
                <input type="text" class="input">
              </div>
              <div class="wrapper"><span>Your Website:</span>
                <input type="text" class="input">
              </div>
              <div class="textarea_box"><span>Your Message:</span>
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
              <a href="#" class="button2 color3">Send</a> <a href="/ele_friends/Contact_Us" class="button2 color3">Clear</a> </div>
          </form>
        </div>
      </div>
    </article>
    
    </body>
