<body class="donate">
   <!-- content -->
   <div class="wrapper">
        <div class="pad_left2">
          <h4><span>How Donations</span>Row to Communities</h4>
          <p class="pad_bot2"><strong>Write about Donations .</strong></p>
          <p>how it helps society.</p>
        </div>
      </div>
   
    <article id="content" class="tabs">
      <div class="wrapper">
      	<ul class="nav">
        <div class="box1">
          <div class="line1">
            <div class="line2 wrapper">
              <section class="col1">
  
                       	
                <h2><strong>M</strong>ake<span>Donations</span></h2>
                <div class="pad_bot1">
                  <figure><%= link_to(image_tag("page4_img1.png"), "#Donate",:onclick=>"scrollWin()") %></figure>
                  
                </div>
                    There are many ways you can help the elephants either through planned monthly donations, sponsoring an elephant, sponsoring a meal or in-kind giving. Please click here (‘here’ to be hyperlink to downloadable word doc with all the available options including Wishlist) to see the many ways you can help.<a href="#Donate" class="button1 color2" onclick="scrollWin()">Read More</a> </section>     
              <section class="col1 pad_left1">
                <h2 class="color2"><strong>V</strong>isit/<span>Volunteer</span></h2>
                <div class="pad_bot1">
                  <figure><%= link_to(image_tag("page4_img2.jpg"), "#Volunteer",:onclick=>"scrollWin()") %></figure>
                </div>
                We welcome committed and dedicated volunteers who have a passion for elephants and do not mind working long hours on a multitude of tasks to ensure the wellbeing of the elephants. Volunteers need to be over 18 and have a good degree of fitness. A small fee will apply to cover the cost of basic accommodation and simple locally produced food to successful applicants.  



<a href="#Volunteer" class="button1 color2" onclick="scrollWin()">Read More</a> </section>
              <section class="col1 pad_left1">
                <h2 class="color3"><strong>S</strong>hop<span>Products</span></h2>
                <div class="pad_bot1">
                  <figure><%= link_to(image_tag("page4_img2.jpg"), "#Shop") %></figure>
                </div>
               Coming Soon....<a href="#Shop" class="button1 color3">Read More</a> </section>
            </div>
          </div>
        </div>
        </ul>
      </div>
      
      <div class="wrapper">
        <div class="box2">
          <div class="wrapper tab-content" id="Donate">
            <section class="col133">
            	 <h2><strong>M</strong>ake<span>Donations</span></h2>
              <h4><span>Donate A meal</span></h4>
              
              <p class="pad_bot1"></p>
              <h4> <span>Special Days</span></h4>
              <p class="pad_bot2"><strong></strong></p>
              <p class="pad_bot1"></p>
              <h4 ><span>Infrastructural Donations</span></h4>
              <p class="pad_bot1"><strong></strong></p>
              <h4 ><span>Monthly Donations</span></h4>
              <p class="pad_bot2"><strong></strong></p>
              <h4 ><span>One-Time Donations</span></h4>
              <p class="pad_bot2"><strong></strong></p>
              </section>
          </div>
          <div class="wrapper tab-content" id="Volunteer">
            <section class="col13">
            	<h2 class="color2"><strong>V</strong>isit/<span>Volunteer</span></h2>
              <h4 class="color2"><span>A Day With The Jumbos</span></h4>
          

 
              <p class="pad_bot2"><strong>
              	<li>Preparation of food for ELEs</li>

 <li>Feed elephants with fruits,vegetables,grass and sticky rice</li>

<li>Help bathe the ELEs</li>
<li>Help nurse the ELEs</li>
<li>Walk with the Jumbos</li>
 <li>Day program runs from 9:00 till 18:00</li>
 <li> Price</li>
 <li>Includes</li><br />
 
 <a href="/ele_friends/Book" class="button2 color2">Book</a></p>
              <p class="pad_bot1"></p>
              <h4 class="color2"><span>Half Day With The Jumbos</span></h4>
              <p class="pad_bot2"><strong>
              	<li>Preparation of food for ELEs</li>
 <li>Feed elephants with fruits,vegetables and grass</li>
<li>Help bathe the ELEs</li>
<li>Help nurse the ELEs</li>
<li>Half Day program runs from 9:00 till 13:00</strong></li>
<li>Price</li>
<li>Includes</li>
	<br />
<a href="/ele_friends/Book" class="button2 color2">Book</a></p>
<p class="pad_bot1"></p>
              

</div>
          <div class="wrapper tab-content" id="">
            <section class="col13">
            	<h2 class="color3"><strong>S</strong>hop<span>Products</span></h2>
              <h4><span>September 11</span>2003</h4>
              <p class="pad_bot2"><strong>Ut perspiciatis unde omnis occaecati cupiditate non provident</strong></p>
              <p class="pad_bot1">Natus error sit voluptatem accusantium doloremque laudantium architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
              <h4 class="color2"><span>November 19</span>2003</h4>
              <p class="pad_bot2"><strong>Harum quidem rerum facilis est et expedita distinctio</strong></p>
              <p class="pad_bot1">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
              <h4 class="color3"><span>December 27</span>2003</h4>
              <p class="pad_bot2"><strong>Perspiciatis unde omnis occaecati cupiditate non provident</strong></p>
              Natus error sit voluptatem accusantium doloremque laudantium architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. </section>
          </div>
          
        </div>
      </div>
      <!--<div class="wrapper">
        <div class="box2">
          <div class="wrapper">
            <section class="col1">
              <div class="wrapper"> <a href="#" class="left marg_right1"><%=image_tag("banner.jpg")%></a>
                <p class="pad_bot2"><strong>How Can You Donate?</strong></p>
                </div>
            </section>
          </div>
        </div>
      </div>-->
    </article>
  
   <script type="text/javascript">Cufon.now(); tabs.init();</script>
   <script>
function scrollWin() {
    window.scrollBy(0,550);
}
</script>
</body>
