<body class="gallery">
<html>
    <head>
        <meta charset="utf-8" />
        <title>A Touch Optimized Gallery | Tutorialzine Freebie</title>

        <!-- Make the page take the full width of the device-->
        <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />

        <!-- The stylesheet -->
       
 
  <%= stylesheet_link_tag    'touchTouch', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dancing+Script" />

        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
<h2 class="color2"><strong></strong>Featured</h2>
	   
        <div class="thumbs" data-gallery="one">
	        <a href="https://c4.staticflickr.com/9/8115/29964116595_0780825b63_z.jpg" style="background-image:url(https://c4.staticflickr.com/9/8115/29964116595_0780825b63_s.jpg)" title="The Parade"></a>
	        <a href="https://c1.staticflickr.com/9/8372/29670708120_1186166077_z.jpg" style="background-image:url(https://c1.staticflickr.com/9/8372/29670708120_1186166077_s.jpg)" title="The Ladies"></a>
	        <a href="https://c4.staticflickr.com/9/8234/29964115395_5db246bc2d_z.jpg" style="background-image:url(https://c4.staticflickr.com/9/8234/29964115395_5db246bc2d_s.jpg)" title="Mud Bath"></a>
	        <a href="https://c7.staticflickr.com/9/8393/29850431982_8b8a7cd7e6_z.jpg" style="background-image:url(https://c7.staticflickr.com/9/8393/29850431982_8b8a7cd7e6_s.jpg)" title="Indu and Saif"></a>
	        <a href="https://c8.staticflickr.com/9/8357/29964099815_cd3b69d9ed_z.jpg" style="background-image:url(https://c8.staticflickr.com/9/8357/29964099815_cd3b69d9ed_s.jpg)" title="Walk in the park"></a>
        </div>
    
    <h2 class="color2"><strong></strong>Latest</h2>
        <div class="thumbs">
	        <a href="http://farm6.staticflickr.com/5346/7051537899_efc7a44830_z.jpg" data-gallery="two" style="background-image:url(http://farm6.staticflickr.com/5346/7051537899_efc7a44830_m.jpg)" title="Tauranga Bridge"></a>
	        <a href="http://farm8.staticflickr.com/7268/6951148260_440661b4d1_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7268/6951148260_440661b4d1_m.jpg)" title="East Coast"></a>
	        <a href="http://farm8.staticflickr.com/7259/6930112984_5fcc076288_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7259/6930112984_5fcc076288_m.jpg)" title="Cathedral Cove"></a>
	        <a href="http://farm8.staticflickr.com/7276/6886626710_047cd03acb_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7276/6886626710_047cd03acb_m.jpg)" title="The Pond"></a>
	        <a href="http://farm8.staticflickr.com/7020/6683299491_f2b5f6aa8b_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7020/6683299491_f2b5f6aa8b_m.jpg)" title="Good Night"></a>
        </div>
    
    

    <h2 class="color2"><strong></strong>More Albums</h2>
    
  
      <div class="wrapper">
          <div class="box1">
       
              <section class="col1">
                        	
                <h1>US Consul General Visit</h1>
                <div class="pad_bot1">
                <a data-flickr-embed="true" data-footer="true"  href="https://www.flickr.com/photos/147654727@N06/albums/72157671034422523" title="US Counsul General Visit"><img src="https://c5.staticflickr.com/9/8261/29820565212_bb20cceec1_m.jpg" width="240" height="180" alt="US Counsul General Visit"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                
                </div>
                    </section>     
              <section class="col1 pad_left1">
                <h1 >USG</h1>
                <div class="pad_bot1">
                 <a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/147654727@N06/albums/72157671034422523" title="US Counsul General Visit"><img src="https://c5.staticflickr.com/9/8261/29820565212_bb20cceec1_m.jpg" width="240" height="180" alt="US Counsul General Visit"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                </div>
</section>
              <section class="col1 pad_left1">
                <h1>Revathy and Mahee</h1>
                <div class="pad_bot1">
                  <a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/147654727@N06/albums/72157673182274362" title="Revathy and Mahee"><img src="https://c8.staticflickr.com/9/8265/29939650455_6eb59a4f3f_m.jpg" width="240" height="210" alt="Revathy and Mahee"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                </div>
               </section>
            </div>
            <div class="box1">
       
              <section class="col1">
                        	
                <h1>US Consul General Visit</h1>
                <div class="pad_bot1">
                <a data-flickr-embed="true" data-footer="true"  href="https://www.flickr.com/photos/147654727@N06/albums/72157671034422523" title="US Counsul General Visit"><img src="https://c5.staticflickr.com/9/8261/29820565212_bb20cceec1_m.jpg" width="240" height="180" alt="US Counsul General Visit"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                
                </div>
                    </section>     
              <section class="col1 pad_left1">
                <h1 >USG</h1>
                <div class="pad_bot1">
                 <a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/147654727@N06/albums/72157671034422523" title="US Counsul General Visit"><img src="https://c5.staticflickr.com/9/8261/29820565212_bb20cceec1_m.jpg" width="240" height="180" alt="US Counsul General Visit"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                </div>
</section>
              
            </div>
       
        </div>
      
<h2 class="color2"><strong></strong>Videos</h2>
 <div class="box1">
     <section class="col11">
                <h1 >Introduction</h1>
                <div class="pad_bot1">
                  
                  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEleFriends101ECF%2Fvideos%2F928744143915228%2F&show_text=0&width=400&height=315" width="400" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
</section>
            
                   <section class="col1 pad_left2">         	
                <h1>Life at EleFriends101</h1>
                <div class="pad_bot1">
                <iframe width="400" height="315" src="https://www.youtube.com/embed/9WakoxUwunI" frameborder="0" allowfullscreen></iframe>
                
                </div>
                    </section>     
              
              
            </div>     
      
    
 <!-- <h2 class="color2"><strong></strong>Aug</h2>
        <div class="thumbs">
	        <a href="http://farm6.staticflickr.com/5346/7051537899_efc7a44830_z.jpg" data-gallery="two" style="background-image:url(http://farm6.staticflickr.com/5346/7051537899_efc7a44830_m.jpg)" title="Tauranga Bridge"></a>
	        <a href="http://farm8.staticflickr.com/7268/6951148260_440661b4d1_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7268/6951148260_440661b4d1_m.jpg)" title="East Coast"></a>
	        <a href="http://farm8.staticflickr.com/7259/6930112984_5fcc076288_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7259/6930112984_5fcc076288_m.jpg)" title="Cathedral Cove"></a>
	        <a href="http://farm8.staticflickr.com/7276/6886626710_047cd03acb_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7276/6886626710_047cd03acb_m.jpg)" title="The Pond"></a>
	        <a href="http://farm8.staticflickr.com/7020/6683299491_f2b5f6aa8b_z.jpg" data-gallery="two" style="background-image:url(http://farm8.staticflickr.com/7020/6683299491_f2b5f6aa8b_m.jpg)" title="Good Night"></a>
        </div>

		<p id="credit">
			Photos: 
			<a href="https://www.flickr.com/photos/147654727@N06/29820565212/">Lion Rock</a>
			<a href="http://www.flickr.com/photos/zanthia/6895252645/">Holsten Gate</a>
			<a href="http://www.flickr.com/photos/zanthia/6943277737/">Blue Hour</a>
			<a href="http://www.flickr.com/photos/zanthia/7000951429/">Waikato Landscape</a>
			<a href="http://www.flickr.com/photos/zanthia/7051537899/">Tauranga Bridge</a>
			<a href="http://www.flickr.com/photos/zanthia/6951148260/">East Coast</a>
			<a href="http://www.flickr.com/photos/zanthia/6930112984/">Cathedral Cove</a>
			<a href="http://www.flickr.com/photos/zanthia/6886626710/">The Pond</a>
			<a href="http://www.flickr.com/photos/zanthia/6683299491/">Good Night</a>
		</p>-->

        <!-- JavaScript includes - jQuery, turn.js and our own script.js -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		
  <%= javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'touchTouch.jquery.js', 'data-turbolinks-track': 'reload' %>
		<!-- BSA AdPacks code. Please ignore and remove.-->
        

    </body>
</html>
